@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body{
    height:100vh;
    display: flex;
    flex-direction: column;
    font-family: Besley, serif;
    margin:0;

}

.header{
    background:#1F2937;
    display:flex;
    padding:4px;
    justify-content: space-between;
}

.logo-left{
    color: #F9FAF8;
    font-size: 28px;
    font-weight: 900;
    font-style: italic;
    display:flex;
    align-items: center;
    margin-left:4px;
}

ul{
    display:flex;
    justify-content: center;
    list-style-type: none;
    gap:0.9rem;
    margin-right: 4px;
}

.link-right{
    font-size: 18px;
    font-style:italic;
}

a{
    text-decoration: none;
    color:#E5E7EB;

}

.content{
    display:flex;
    flex-direction: column;
}

.top{
    background:#1F2937;
    display:flex;
}

.text{
    display:flex;
    flex-direction: column;
    margin:5rem;
    margin-left:3rem;
    width:50%;
    flex:1;
    
}

.text .title{
    font-size: 48px;
    color:#F9FAF8;
    font-weight:bolder;
    margin-bottom: 25px;
    line-height: 1.1;
}

.description{
    color:#E5E7EB;
    font-size:18px;
    display:flex;
}

.btn {
    display:flex;
    justify-content: center;
    margin-top:8px;
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    background-color: #3882F6;
    width:25%;
    border-radius:8px;
    box-shadow: 0 4px 8px 0 rgb(19, 166, 235, 0.2), 0 6px 20px 0 rgba(19, 166, 235, 0.19);
}

.btn:hover{background: #0b7dda;}

.pic{
    display:flex;
    align-items: center;
}

.pic img{
    /* width:600px; */
    width:100%;
    height:400px;
    margin-right: 12px;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);

}

.middle{
    display:flex;
    flex-direction:column;
    background-color: bisque;
}

.middle .title{
    font-size:36px;
    color:#1F2937;
    font-weight: 900;
    margin-top:2rem;
    margin-bottom:2rem;
    text-align:center;
}


.info img{
    width: 150px;
    height: 120px;
    border-radius: 20%;
    border:rgb(135, 206, 235) solid;
    box-shadow:0 4px 8px rgba(135, 206, 235, 0.5);
    margin-bottom:1.5rem;
    align-self: center;
    display:flex;
    margin:5px auto 5px auto;
    /* margin-bottom:5px;
    margin-top:5px;
    margin-left: auto;
    margin-right: auto; */
}

.facts{
    display:flex;
    justify-content: center;
    gap: 52px;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.info{
    max-width: 220px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
    background-color: antiquewhite;
}

.info .detail{
    display:flex;
    align-self:center;
    text-align:center;
    margin:5px;
}

.bottom{
    background:#E5E7EB;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:12px;
    height: 20rem;
}

.bottom .quote{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:36px;
    font-style: italic;
    color:#1F2937;
    align-items: center;
    width:60%;
    text-align: center;
    margin-top: 2rem;
}

.bottom .told-by{
    padding-right:10rem;
    align-self: flex-end;
    font-size:20px;
    color:#1F2937;
    margin-bottom: 2rem;
}

.call-to-action{
    background:bisque;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:2rem 8rem;
    height: 20rem;
}

.call-to-action .box{
    background: #3882F6;
    padding: 10px 6rem;
    color:#ffffff;
    height:70%;
    display:flex;
    flex:1 0.5 auto;
    justify-content:space-around;
    align-items: center;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgb(19, 166, 235, 0.5), 0 6px 20px 0 rgba(19, 166, 235, 0.19);
}

.left{
    display:flex;
    flex-direction:column;
    padding:0 7rem 0 0;
}

.left .section-1{
    font-size: 28px;
}

.left .section-2{
    font-size:18px;
}

.box .left{
    margin:4px;
}

.box .right{
    display:flex;
    align-items: center;
}

.btn-2 {
    margin-top:8px;
    border: white solid;
    color: white;
    padding: 10px 28px;
    cursor:pointer;
    background-color: #3882F6;
    /* width:25%; */
    height:50%;
    border-radius:8px;
}

.btn-2:hover{background: #0b7dda;}

.footer{
    padding: 0.7rem;
    background:#1F2937;
    display:flex;
    align-items: center;
    justify-content:center;
    color:#ffffff;
    font-weight:700
}